* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}

.social-icons .fa-brands {
  color: #fff;
}
.heightss {
  height: 106vh;
}
.Top-Bar {
  background-color: #040406;
}

.main-banner {
  margin-top: -15vh;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-banner p {
  color: #fff;
}
.seo-banner {
  margin-top: -15vh;
  background: linear-gradient(
      0deg,
      rgba(255 255 255 / 10%),
      rgba(0, 0, 0, 0.69)
    ),
    url(./images/back-seo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seo-banner p {
  color: #fff;
}
.navbar-toggler {
  padding: 0.5rem 0.75rem;
  border: 1px solid #fff;
}
.navbar-toggler-icon {
  background-image: url(./images/bars-solid.svg);
  width: 20px;
  height: 20px;
}
.nav-item a {
  color: #fff !important;
}
.dropdown-menu .dropdown-item {
  color: #000 !important;
}
.main-form {
  width: 65%;
  padding: 56px 26px 36px 26px;
  background-image: linear-gradient(90deg, #ff8c0072, #ffc27744);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}
.main-form h3 {
  color: #fff;
  font-weight: 600;
  font-size: 21px;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #fb8c00;
}
.input-feilds-banner {
  width: 100% !important;
  height: 56px;
  border-radius: 6px;
  padding: 10px;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  border: solid 1px #fff;
  font-weight: 600;
}
.input-feilds-banner:active {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds-banner:hover {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds-banner::placeholder {
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}
.banner-left h1 {
  color: #fff;
  font-weight: 600;
  /* margin-top: 150px; */
  font-size: 46px;
}
.banner-left h6 {
  color: #fff;
  font-weight: 600;
}
.banner-left ul li {
  color: #fff;
}
.banner-left ul li::marker {
  color: #fb8c00;
  content: "\002D";
}
.btns-one {
  color: #fff;
  font-size: 15px;
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.btns-one:hover {
  transition: 0.6s;
  background-color: #0000;
  border: 1px solid #fff;
}
.btns-two {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.btns-two:hover {
  transition: 0.6s;
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
}
.btns-three {
  color: #fff;
  font-size: 15px;
  background-color: #023866;
  border: 1px solid #023866;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-three:hover {
  transition: 0.6s;
  background-color: #fb8c00;
  border: 1px solid #fff;
  border-radius: 6px;
}
.btns-four {
  color: #fff;
  font-size: 15px;
  background-color: #023866;
  border: 1px solid #000;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 46px;
  padding-right: 46px;
}
.btns-four:hover {
  transition: 0.6s;
  background-color: #fb8c00;
  border: 1px solid #fff;
  border-radius: 6px;
}
.btns-five {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.btns-five:hover {
  transition: 0.4s;
  color: #fff;
  background-color: #023866;
  border: 1px solid #023866;
  border-radius: 6px;
}
.btns-six {
  color: #fff;
  font-size: 15px;
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-six:hover {
  transition: 0.6s;
  background-color: #023866;
  border: 1px solid #023866;
  border-radius: 6px;
}
.btns-seven {
  color: #fff;
  font-size: 15px;
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-seven:hover {
  transition: 0.6s;
  color: #023866;
  background-color: #fff;
  border: 1px solid #fff;
}
.btns-eight {
  color: #fff;
  font-size: 15px;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-eight:hover {
  transition: 0.6s;
  color: #023866;
  background-color: #fff;
  border: 1px solid #fff;
}
.four-divs {
  background-color: #eeeff0;
  border-radius: 36px;
}
.four-divs i {
  font-size: 26px;
  color: #fb8c00;
  background-color: #fff;
  padding: 18px;
  border-radius: 55px;
  box-shadow: 3px 4px 26px -4px rgba(255, 184, 38, 0.34);
  -webkit-box-shadow: 3px 4px 26px -4px rgba(255, 184, 38, 0.34);
  -moz-box-shadow: 3px 4px 26px -4px rgba(255, 184, 38, 0.34);
}
.four-divs h5 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.four-divs h6 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 26px;
}
.four-divs:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: #023866;
  /* background-image: linear-gradient(90deg, #ff8c00, #023866); */
}
.four-divs:hover i {
  color: #fff;
  background-color: #fb8c00;
}
.four-divs:hover h5 {
  transition: 0.2s;
  color: #fff;
}
.four-divs:hover h6 {
  transition: 0.2s;
  color: #fff;
}
.form-sec {
  background-color: #fb8c00;
}
.form-sec {
  color: #fff;
}
/* .input-feilds {
  width: 100% !important;
  height: 56px;
  border-radius: 6px;
  padding: 10px;
  background-color: #f7a744;
  border: solid 1px #fc9d27;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.input-feilds:active {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds:hover {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds::placeholder {
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
} */
.input-feilds {
  /* width: 100% !important; */
  height: 46px;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #fff;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}
.input-feilds:active {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds:hover {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds::placeholder {
  font-weight: 400;
  color: #000;
  letter-spacing: 1px;
}
.Images-main-two {
  width: 500px;
  height: 500px;
}
.right-side-panel ul li {
  color: #fb8c00;
  font-weight: 600;
  font-size: 14px;
}
.right-side-panel h2 {
  font-weight: 600;
  font-size: 34px;
}
.right-side-panel h6 {
  color: #fb8c00;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.middle-text h2 {
  font-weight: 600;
  font-size: 32px;
}
/************************* Style the tab *************************/
.tab {
  float: left;
  height: auto;
}
.tab button {
  color: black;
  padding: 22px 16px;
  width: 60%;
  background-color: #fff;
  border: 1px solid #023866;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin: 6px;
  border-radius: 6px;
}
.tab button:hover {
  color: #fff;
  border: 1px solid #0000;
  background-color: #fb8c00;
}
.tab button.active {
  color: #fff;
  background-color: #023866;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
}
.tabcontent img {
  width: 340px;
}
.tabcontent h3 {
  color: #fb8c00;
  font-weight: 600;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tabcontent:nth-of-type(1) {
  animation-name: fadeIn;
}

/* Slide In From Left Animation */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.tabcontent:nth-of-type(2),
.tabcontent:nth-of-type(4) {
  animation-name: slideInFromLeft;
}

/* Zoom In Animation */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.tabcontent:nth-of-type(3),
.tabcontent:nth-of-type(5) {
  animation-name: zoomIn;
}
/************************* Style the tab End *************************/
.random {
  width: 300px !important;
  border-radius: 26px;
}
.randomOne {
  width: 600px !important;
}
.tablinks {
  font-weight: 600;
}
.sixth-div {
  height: 80vh;
  background-image: url(./images/Shape_150.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Ninth-div {
  background-image: url(./images/Shape_150.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.count {
  color: #fb8c00;
  font-size: 46px;
  font-weight: 600;
}
.text-5,
.fa-percent {
  font-weight: 600;
  font-size: 16px;
  color: #fb8c00;
}
.sixth-div h2 {
  font-weight: 600;
}
.sixth-div ul li,
.sixth-div p {
  color: #606060;
}
.fa-circle {
  color: #fb8c00;
  font-size: 12px;
  letter-spacing: 2px;
}
.campaign {
  background-image: linear-gradient(#fff, #fff);
  border-radius: 26px;
  margin: 26px 0px;
  box-shadow: -1px 3px 30px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 30px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 30px -17px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in;
}
.campaign:hover {
  background-image: linear-gradient(#ff8c00, #023866);
  transform: scale(1.1);
}
.campaign:hover .text-6 {
  background-color: #0000;
  color: #fff;
}
.campaign:hover .text-7 {
  background-color: #0000;
  color: #fff;
}
.campaign:hover .icons-charts {
  background-color: #0000;
  color: #fff;
}
.icons-charts {
  color: #fb8c00;
  font-size: 28px;
  margin-right: 26px;
}
.text-6 {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.text-7 {
  color: #606060;
  font-size: 14px;
}
.numbers {
  font-weight: 800;
  color: #f0f6ff;
  font-size: 56px;
}
.numbers-div {
  margin-top: -50px;
}
.merge-one {
  background-image: url(./images/back-one.png);
  background-repeat: no-repeat;
  background-size: 33%;
  background-position: 80% 75%;
}
.merge-two {
  background-image: url(./images/back-two.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 80% 34%;
}
.merge-two h4 {
  color: #fb8c00;
  font-weight: 600;
}
.merge-two p {
  font-weight: 600;
  font-size: 14px;
}
.price-box {
  background-image: linear-gradient(#ff8c00, #023866);
  border-radius: 16px;
  padding: 60px 50px;
  margin: 50px 20px;
}
.price-box ul li {
  color: #fff;
}
.price-box span,
.price-box h4 {
  color: #fff;
}
.price-box:hover a {
  color: #fff;
  background-color: #023866;
}
.price-box ul {
  margin-bottom: 50px;
}
.price-box a {
  background-color: #eeeff0;
  color: #000;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 600;
}
.price-box:hover {
  transition: 0.6s !important;
  cursor: pointer;
  background-image: linear-gradient(#023866, #ff8c00);
}
.imagessss {
  width: auto;
}
.imagesss {
  width: 400px;
}
.ctas {
  background-image: linear-gradient(90deg, #ff8c00, #023866);
}
.ctas h2 {
  color: #fff;
  font-size: 42px;
}
.ctas p {
  color: #fff;
}
.ctas a:hover {
  color: #fff;
  text-decoration: underline;
}
.Main-Footer {
  background-image: url(./images/Oval.png);
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #023866;
}
.Main-Footer h2 {
  color: #fff;
}
.Main-Footer h6 {
  color: #fff;
}
.Main-Footer p {
  color: #fff;
}
.Main-Footer li {
  color: #fff;
  text-decoration: none;
  list-style: none;
}
.mobile-tab {
  display: none !important;
}
.numChat a {
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .Images-main-two {
    width: 300px;
    height: 300px;
  }
  .Images-main {
    width: 350px;
    height: 285px;
  }
  .banner-left h1 {
    margin-top: 75px;
    font-size: 33px;
  }
  .main-banner {
    padding-top: 96px;
    margin-top: -20vh;
    padding-bottom: 300px;
  }
  .seo-banner {
    padding-top: 96px;
    margin-top: -20vh;
    padding-bottom: 300px;
  }
  .randomOne {
    width: 340px !important;
  }
  .sixth-div {
    height: auto;
  }
  .imagesss {
    width: 360px;
  }
  .imagessss {
    width: 360px;
  }
  .main-bar {
    background-color: #040406;
  }
  .navbar-collapse {
    padding: 36px;
    background-color: #040406;
  }
  .Top-Bar a {
    font-size: 11px;
    text-align: center;
  }
  .merge-one {
    background-size: 81%;
    background-position: 50% 70%;
  }
  .merge-two {
    background-size: 75%;
    background-position: 80% 35%;
  }
  .Awards img {
    width: 80px;
  }
  .main-form {
    width: 85%;
    margin-top: 36px;
  }
  .mobile-tab {
    display: block !important;
  }
  .desk-tab {
    display: none !important;
  }
  .tab button {
    width: 20%;
  }
  .process-model li i {
    height: 50px !important;
    width: 50px !important;
    line-height: 48px !important;
    font-size: 22px !important;
  }
}

/*8888888888888888888888888888 CSSSS */

.design-process-section .text-align-center {
  line-height: 25px;
  margin-bottom: 12px;
}
.design-process-content {
  border: 1px solid #e9e9e9;
  position: relative;
  padding: 16px 34% 30px 30px;
}
.design-process-content img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  max-height: 100%;
}
.design-process-content h3 {
  margin-bottom: 16px;
}
.design-process-content p {
  line-height: 26px;
  margin-bottom: 12px;
}
.process-model {
  list-style: none;
  padding: 0;
  position: relative;
  max-width: 600px;
  margin: 20px auto 26px;
  border: none;
  z-index: 0;
}
.process-model li::after {
  background: #e5e5e5 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  margin: 0 auto;
  position: absolute;
  right: -30px;
  top: 33px;
  width: 85%;
  z-index: -1;
}
.process-model li.visited::after {
  background: #ff8c00;
}
.process-model li:last-child::after {
  width: 0;
}
.process-model li {
  display: inline-block;
  width: 18%;
  text-align: center;
  float: none;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  border: 0px solid transparent !important;
}
.nav-tabs {
  border-bottom: 0px solid transparent !important;
}

.nav-tabs.process-model > li.active > a,
.nav-tabs.process-model > li.active > a:hover,
.nav-tabs.process-model > li.active > a:focus,
.process-model li a:hover,
.process-model li a:focus {
  background: #0000 !important;
  border: #0000;
  color: #fb8c00;
}
.process-model li a {
  padding: 0;
  border: none;
  color: #023866;
}
.process-model li.active,
.process-model li.visited {
  color: #ff8c00;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
  color: #ff8c00;
}
.process-model li.active p,
.process-model li.visited p {
  font-weight: 600;
}
.process-model li i {
  display: block;
  height: 68px;
  width: 68px;
  text-align: center;
  margin: 0 auto;
  background: #f5f6f7;
  border: 2px solid #e5e5e5;
  line-height: 65px;
  font-size: 30px;
  border-radius: 50%;
}
.process-model li.active i,
.process-model li.visited i {
  background: #fff;
  border-color: #ff8c00;
}
.process-model li p {
  font-size: 14px;
  margin-top: 11px;
}
.process-model.contact-us-tab li.visited a,
.process-model.contact-us-tab li.visited p {
  color: #606060 !important;
  font-weight: normal;
}
.process-model.contact-us-tab li::after {
  display: none;
}
.process-model.contact-us-tab li.visited i {
  border-color: #e5e5e5;
}

@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
    font-size: 23px;
    height: 50px;
    line-height: 46px;
    width: 50px;
  }
  .more-icon-preocess.process-model li::after {
    top: 24px;
  }
}
@media screen and (max-width: 380px) {
  .process-model.more-icon-preocess li {
    width: 16%;
  }
  .more-icon-preocess.process-model li span {
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 35px;
  }
  .more-icon-preocess.process-model li p {
    font-size: 8px;
  }
  .more-icon-preocess.process-model li::after {
    top: 18px;
  }
  .process-model.more-icon-preocess {
    text-align: center;
  }
}
