* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}

.social-icons .fa-brands {
  color: #fff;
}
.heightss {
  height: 106vh;
}
.main-banner {
  background-color: #023866;
  padding-top: 180px;
  padding-bottom: 150px;
}
.main-banner p {
  color: #fff;
}
.seo-banner {
  background-color: #023866;
  padding-top: 180px;
  padding-bottom: 150px;
  /* margin-top: -15vh;
  background: linear-gradient(
      0deg,
      rgba(255 255 255 / 10%),
      rgba(0, 0, 0, 0.69)
    ),
    url(./images/back-seo.jpeg); */
}
.seo-banner p {
  color: #fff;
}
.heighs {
  height: 150px;
}
header {
  padding: 20px 0;
  height: 100px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #023866;
  z-index: 9999999;
  transition: all 0.3s ease-in-out;
}
header.scrolled {
  background-image: linear-gradient(#023866, #001b33);
  color: #fff;
}
.nav-logo {
  width: 300px;
}
.navbar-toggler {
  padding: 0.5rem 0.75rem;
  border: 1px solid #fff;
}
.navbar-toggler-icon {
  background-image: url(./images/bars-solid.svg);
  width: 20px;
  height: 20px;
}
#navbarSupportedContent {
  border-radius: 6px;
  margin-top: 6px;
}
.nav-item a {
  color: #fff !important;
}
.dropdown-menu .dropdown-item {
  color: #000 !important;
}
.main-form {
  width: 65%;
  padding: 56px 26px 36px 26px;
  background-image: linear-gradient(90deg, #ff8c0072, #ffc27744);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}
.main-form h3 {
  color: #fff;
  font-weight: 600;
  font-size: 21px;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #f58b01;
}
.input-feilds-banner {
  width: 100% !important;
  height: 56px;
  border-radius: 6px;
  padding: 10px;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  border: solid 1px #fff;
  font-weight: 600;
}
.input-feilds-banner:active {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds-banner:hover {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds-banner::placeholder {
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}
.banner-left h1 {
  color: #fff;
  font-weight: 600;
  /* margin-top: 150px; */
  font-size: 46px;
}
.banner-left h6 {
  color: #fff;
  font-weight: 600;
}
.banner-left ul li {
  color: #fff;
}
.banner-left ul li::marker {
  color: #f58b01;
  content: "\002D";
}
.btns-one {
  color: #fff;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  border-radius: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.btns-one:hover {
  transition: 0.6s;
  background-color: #0000;
  border: 1px solid #fff;
}
.btns-two {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.btns-two:hover {
  transition: 0.6s;
  background-color: #f58b01;
  border: 1px solid #f58b01;
}
.btns-three {
  color: #fff;
  font-size: 15px;
  background-color: #023866;
  border: 1px solid #023866;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-three:hover {
  transition: 0.6s;
  background-color: #f58b01;
  border: 1px solid #fff;
}
.btns-four {
  color: #fff;
  font-size: 15px;
  background-color: #023866;
  border: 1px solid #000;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 46px;
  padding-right: 46px;
}
.btns-four:hover {
  transition: 0.6s;
  background-color: #f58b01;
  border: 1px solid #fff;
}
.btns-five {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.btns-five:hover {
  transition: 0.4s;
  color: #fff;
  background-color: #023866;
  border: 1px solid #023866;
  border-radius: 6px;
}
.btns-six {
  color: #fff;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-six:hover {
  transition: 0.6s;
  background-color: #023866;
  border: 1px solid #023866;
}
.btns-seven {
  color: #fff;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-seven:hover {
  transition: 0.6s;
  color: #023866;
  background-color: #fff;
  border: 1px solid #fff;
}
.btns-eight {
  color: #fff;
  font-size: 15px;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-eight:hover {
  transition: 0.6s;
  color: #023866;
  background-color: #fff;
  border: 1px solid #fff;
}
.btns-nine {
  color: #fff;
  font-size: 15px;
  background-image: linear-gradient(90deg, #f58b01, #023866);
  border: 0px solid #0000;
  border-radius: 50px;
  padding: 12px 36px;
}
.btns-nine:hover {
  background-image: linear-gradient(90deg, #023866, #f58b01);
  transition: 0.6s;
}
.btns-ten {
  color: #fff;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.btns-ten:hover {
  border: 1px solid #fff;
  transition: 0.6s;
  background-color: #023866;
  border-radius: 6px;
}
.four-divs {
  background-color: #eeeff0;
  border-radius: 36px;
  height: 330px;
}
.four-divs i {
  font-size: 26px;
  color: #f58b01;
  background-color: #fff;
  padding: 18px;
  border-radius: 55px;
  box-shadow: 3px 4px 26px -4px rgba(255, 184, 38, 0.34);
  -webkit-box-shadow: 3px 4px 26px -4px rgba(255, 184, 38, 0.34);
  -moz-box-shadow: 3px 4px 26px -4px rgba(255, 184, 38, 0.34);
}
.four-divs h5 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.four-divs h6 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 26px;
}
.four-divs:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: #023866;
  /* background-image: linear-gradient(90deg, #ff8c00, #023866); */
}
.four-divs:hover i {
  color: #fff;
  background-color: #f58b01;
}
.four-divs:hover h5 {
  transition: 0.2s;
  color: #fff;
}
.four-divs:hover h6 {
  transition: 0.2s;
  color: #fff;
}
.form-sec {
  background-color: #f58b01;
}
.form-sec {
  color: #fff;
}
/* .input-feilds {
  width: 100% !important;
  height: 56px;
  border-radius: 6px;
  padding: 10px;
  background-color: #f7a744;
  border: solid 1px #fc9d27;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.input-feilds:

{
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds:hover {.input-feilds
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds::placeholder {
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
} */
.main-imgs {
  width: 650px;
}
.input-feilds {
  height: 46px;
  border-radius: 26px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #9e9e9e;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}
.input-feilds:active {
  transition: 0.2s;
  border: solid 1px #fff;
}
.input-feilds:hover {
  transition: 0.2s;
  border: solid 1px #f58b01;
}
.input-feilds::placeholder {
  font-weight: 400;
  color: #000;
  letter-spacing: 1px;
}
.vert-form {
  border-radius: 56px;
  background-color: #fff;
  border: #f58b01 3px solid;
  padding: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slide-up 0.5s ease-out forwards;
  transform: translateY(100%);
}
@keyframes slide-up {
  to {
    transform: translateY(0%);
  }
}
.Images-main-two {
  width: 500px;
  height: 500px;
}
.Images-main {
  width: 510px;
}
.right-side-panel h2 {
  font-weight: 600;
  font-size: 34px;
}
.right-side-panel h6 {
  color: #f58b01;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.middle-text h2 {
  font-weight: 600;
  font-size: 32px;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 260px;
  height: 66px;
  overflow: hidden;
}

.button.b2 {
  border-radius: 56px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 8px;
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 15px 6px;
  border-radius: 26px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 4px;
  background-color: #f58b01;
}

#button-10 .knobs:after {
  content: "After SEO";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 135px;
  background-color: #023866;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #ebf7fc;
}

.slimScrollBar {
  height: 260px;
  overflow: auto;
  margin-bottom: 26px;
}
.slimScrollBar::-webkit-scrollbar {
  width: 8px;
}
.slimScrollBar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #001b33;
}
.slimScrollBar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}
.hidden {
  display: none;
}
/************************* Style the tab *************************/
.tab {
  float: left;
  height: auto;
}
.tab button {
  color: black;
  padding: 22px 16px;
  width: 75%;
  background-color: #fff;
  border: 1px solid #023866;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin: 6px;
  border-radius: 6px;
}
.tab button:hover {
  color: #fff;
  border: 1px solid #0000;
  background-color: #f58b01;
}
.tab button.active {
  color: #fff;
  background-color: #023866;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
}
.tabcontent img {
  width: 450px;
}
.homeTab {
  width: 350px !important;
}
.tabcontent h3 {
  color: #f58b01;
  font-weight: 600;
}
.tabb {
  float: left;
  height: auto;
}
.tabb button {
  color: black;
  padding: 22px 16px;
  width: 26%;
  background-color: #fff;
  border: 1px solid #023866;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  margin: 6px;
  border-radius: 6px;
  transition: 0.2s;
}
.tabb button:hover {
  color: #fff;
  /* background-image: linear-gradient(90deg, #023866, #f58b01); */
  background-color: #f58b01;
  transition: 0.4s;
  border: 0px solid #0000;
}
.tabb button.active {
  border: 0px solid #0000;
  color: #fff;
  background-image: linear-gradient(90deg, #f58b01, #023866);
}

.slide-in-left {
  animation: slide-in-left 0.5s forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/************************* Style the tab End *************************/
.random {
  width: 500px;
}
.randomOne {
  width: 600px !important;
  border-radius: 6px;
}
.tablinks {
  font-weight: 600;
}
.tablinkss {
  font-weight: 600;
  font-size: 16px !important;
}
.sixth-div {
  background-image: url(./images/Shape_150.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Ninth-div {
  background-image: url(./images/Shape_150.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.count {
  color: #f58b01;
  font-size: 46px;
  font-weight: 600;
}
.text-5,
.fa-percent {
  font-weight: 600;
  font-size: 16px;
  color: #f58b01;
}
.sixth-div h2 {
  font-weight: 600;
}
.sixth-div ul li,
.sixth-div p {
  color: #606060;
}
.fa-circle {
  color: #f58b01;
  font-size: 12px;
  letter-spacing: 2px;
}
.campaign {
  background-image: linear-gradient(#fff, #fff);
  border-radius: 26px;
  margin: 26px 0px;
  box-shadow: -1px 3px 30px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 30px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 30px -17px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in;
}
.campaign:hover {
  background-image: linear-gradient(#f58b01, #023866);
  transform: scale(1.1);
}
.campaign:hover .text-6 {
  background-color: #0000;
  color: #fff;
}
.campaign:hover .text-7 {
  background-color: #0000;
  color: #fff;
}
.campaign:hover .icons-charts {
  background-color: #0000;
  color: #fff;
}
.icons-charts {
  color: #f58b01;
  font-size: 28px;
  margin-right: 26px;
}
.text-6 {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.text-7 {
  color: #606060;
  font-size: 14px;
}
.numbers {
  font-weight: 800;
  color: #f0f6ff;
  font-size: 56px;
}
.numbers-div {
  margin-top: -50px;
}
.merge-one {
  background-image: url(./images/back-one.png);
  background-repeat: no-repeat;
  background-size: 33%;
  background-position: 80% 75%;
}
.merge-two {
  background-image: url(./images/back-two.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 80% 34%;
}
.merge-two h4 {
  color: #f58b01;
  font-weight: 600;
}
.merge-two p {
  font-weight: 600;
  font-size: 14px;
}
.price-box {
  /* background-image: linear-gradient(#f58b01, #023866); */
  background-color: #023866;
  border-radius: 16px;
  padding: 60px 50px;
  margin: 50px 20px;
}
.price-box ul li {
  color: #fff;
}

.price-box h4 {
  color: #f58b01;
}
.price-box span {
  color: #fff;
}
.price-box:hover a {
  color: #fff;
  background-color: #023866;
}
.price-box ul {
  margin-bottom: 50px;
}
.price-box a {
  background-color: #eeeff0;
  color: #000;
  padding: 15px 30px;
  border-radius: 26px;
  font-weight: 600;
}
.price-box:hover {
  transition: 0.6s !important;
  cursor: pointer;
  background-color: #f58b01;
  /* background-image: linear-gradient(#023866, #f58b01); */
}
.price-box h4:hover {
  color: #023866 !important;
}
.imagessss {
  width: auto;
}
.imagesss {
  width: 400px;
}
.ctas {
  background-image: linear-gradient(90deg, #ff8c00, #023866);
}
.ctas h2 {
  color: #fff;
  font-size: 42px;
}
.ctas p {
  color: #fff;
}
.ctas a:hover {
  color: #fff;
  text-decoration: underline;
}
.Main-Footer {
  background-image: url(./images/Oval.png);
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #023866;
}
.Main-Footer h2 {
  color: #fff;
}
.Main-Footer h6 {
  color: #fff;
}
.Main-Footer p {
  color: #fff;
}
.Main-Footer li {
  color: #fff;
  text-decoration: none;
  list-style: none;
}
.mobile-tab {
  display: none !important;
}
#shiva {
  margin-right: 26px;
}
.gray {
  background-color: #e7e7e7;
}
.ProsNumber {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #ff8c00, #023866);
  position: relative;
  animation: spin 4s linear infinite;
  margin-bottom: -75px;
}

.processs span {
  position: relative;
  z-index: 9999;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.processs h6 {
  font-size: 16px;
  font-weight: 600;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .Images-main-two {
    width: 300px;
    height: 300px;
  }
  .Images-main {
    width: 350px;
    height: 285px;
  }
  .banner-left h1 {
    margin-top: 75px;
    font-size: 33px;
  }
  .main-banner {
    padding-top: 200px;
    margin-top: -20vh;
  }
  .seo-banner {
    padding-top: 200px;
    margin-top: -20vh;
    /* padding-bottom: 300px; */
  }
  .randomOne {
    width: 340px !important;
  }
  .sixth-div {
    height: auto;
  }
  .imagesss {
    width: 360px;
  }
  .imagessss {
    width: 360px;
  }
  .vert-form {
    border-radius: 26px;
    margin: 0px 26px;
    text-align: center;
  }
  .input-feilds {
    height: 46px;
    width: 100%;
    border-radius: 26px;
    padding: 20px;
    margin-bottom: 16px;
  }
  .navbar-collapse {
    padding: 36px;
    background-color: #040406;
  }
  .Top-Bar a {
    font-size: 11px;
    text-align: center;
  }
  .merge-one {
    background-size: 81%;
    background-position: 50% 70%;
  }
  .merge-two {
    background-size: 75%;
    background-position: 80% 35%;
  }
  .Awards img {
    width: 80px;
  }
  .main-form {
    width: 85%;
    margin-top: 36px;
  }
  .mobile-tab {
    display: block !important;
  }
  .desk-tab {
    display: none !important;
  }
  .tab button {
    width: 20%;
  }
  .process-model li i {
    height: 50px !important;
    width: 50px !important;
    line-height: 48px !important;
    font-size: 22px !important;
  }
  .main-imgs {
    width: 350px;
  }
  .heighs {
    height: 360px;
  }
  .nav-logo {
    width: 250px;
  }
  .mobile-cta-btn {
    display: flex;
  }
  .btns-eight {
    font-size: 12px;
  }
  .btns-seven {
    font-size: 12px;
  }
  .numChat {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #shiva {
    margin-right: 15px;
  }
  .count {
    font-size: 30px;
  }
  .text-5 {
    font-size: 12px;
  }
}
